@import "./normalize.css";

/* :root ->获取根元素 html */
:root {
  /* 定义 css 变量 */
  --color-text: #666;
  --color-high-text: #ff577;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
  color: var(--color-text);
  width: 100vm;
}

.clear-fix::after {
  clear: both;
  content: '';
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}